 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 .container {
     max-width: 850px;
     margin: 0 auto;
     /* display: none; */
 }

 .second-con {
     height: 100vh;
     background-color: violet;
 }

 .todolist {

     margin: 0;
     padding: 0;
 }


 /* Remove margins and padding from the list */
 ul {
     margin: 0;
     padding: 0;
 }

 ul li {
     cursor: pointer;
     list-style-type: none;


 }

 /* Style the list items */
 #myUL .myli {
     position: relative;
     padding: 4px 8px 4px 40px;
     background-color: #0e7fa1;

     font-size: 16px;
     transition: 0.2s;
     display: flex;
     justify-content: space-between;
     align-items: center;

     /* make the list items unselectable */
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 /* Set all odd list items to a different color (zebra-stripes) */
 #myUL .myli:nth-child(odd) {
     background-color: #88dce7;



 }

 /* Darker background-color on hover */
 #myUL .myli:hover {
     background: #ddd;

 }

 /* When clicked on, add a background color and strike out text */
 #myUL .myli.checked {
     background: #888;
     color: #fff;
     text-decoration: line-through;
 }

 /* Add a "checked" mark when clicked on */
 #myUL .myli.checked::before {
     content: '';
     position: absolute;
     border-color: #fff;
     border-style: solid;
     border-width: 0 2px 2px 0;
     top: 25px;
     left: 16px;
     transform: rotate(45deg);
     height: 15px;
     width: 7px;


 }

 /* Style the close button */
 .close {
     /* position: absolute;
      right: 0;
      top: 0; */
     padding: 12px 16px 12px 16px;
 }

 .close:hover {
     background-color: #1ba7b9;
     color: white;
 }



 /* Style the header */
 .header {
     background-color: #0e7fa1;
     padding: 30px 40px;
     color: white;
     text-align: center;
 }

 /* Clear floats after the header */
 .header:after {
     content: "";
     display: table;
     clear: both;
 }

 /* Style the input */
 input {
     margin: 5px 0;
     border: none;
     border-radius: 0;
     width: 75%;
     padding: 10px;
     /* float: left; */
     font-size: 16px;
     background-color: #88dce7;
 }

 /* Style the "Add" button */
 .addBtn {
     display: block;
     padding: 10px;
     width: 25%;
     background: #d9d9d9;
     color: #555;
     /* float: left; */
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;
     border-radius: 0;
 }

 .addBtn:hover {
     background-color: #bbb;
 }

 label {
     display: block;
     width: 33%;
     margin-top: 10px;
 }

 .td-btn {
     background: transparent;
     color: #555;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     padding: 10px;
     display: inline;
     border-radius: 5px;
 }



 /* for edit */


 .td-btn {
     position: relative;
     display: inline-block;
 }

 .btn-toin {
     /* background-color: rgb(108, 117, 124); */

     background-color: transparent;
     color: #555;
     border: none;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
     padding: 10px;
     /* display: inline; */
     /* border-radius: 5px; */
 }

 .btn-toin:hover {
     background-color: #fff;
     color: black;

 }

 .btn-hide {

     display: none;
     position: absolute;
     background-color: #eeeef0;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     padding: 2px 2px;
     z-index: 1;
 }

 .btn-hide li {
     color: rgb(77, 66, 66);
 }

 .btn-hide li:nth-child(odd) {
     background-color: rgb(131, 199, 165);
 }

 .btn-hide li:nth-child(even) {
     background-color: rgb(74, 141, 196);

 }

 .btn-hide li:hover {
     background-color: #b9b1b1;
     color: rgb(20, 19, 19);


 }

 /* .btn-hide li:hover .showd {
            display: block;


        } */


 /* .btn-hide .close {
      display: none;
  } */


 .showd {
     display: none;
     position: absolute;
     top: 0;
     right: -150px;
     width: 100%;
     background-color: gray;
     padding: 10px;
     width: 200px;
     font-size: 0.9rem;
     font-weight: 100;
     height: auto;
     /* justify-content: center; */
     text-align: left;
     color: white;
     border: rgb(30, 174, 199) 1px solid;
     outline: blue 1px dotted;
 }



 .show {
     display: block;
 }

 @media screen and (max-width: 780px) {
     input {
         padding: 5px;
     }

     label,
     input {

         font-size: 14px;
     }




     ul li {
         font-size: 9px;
         padding-top: 2px;
         padding-bottom: 2px;
     }

     .header {
         padding: 10px 20px;
     }

     .addBtn {
         padding: 5px;
         margin-bottom: 15px;
         margin-top: 0;
     }



 }

 body {
     background-color: rgb(51, 49, 49);
 }